<a href="https://colab.research.google.com/github/hi-rama/AI-Machine-Learning-Study/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
titanic_df = pd.read_csv(r'/content/train.csv')#data를 읽어 온다
print('DatFrame 크기: ',titanic_df.shape) # 891개의 row와 12개의 column이 있다.
titanic_df.info()

DatFrame 크기:  (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
titanic_df.describe() #숫자형 데이터들의 통계 값을 나타낸다.

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [11]:
결과값 = titanic_df['Pclass'].value_counts() #결과값에는 Pclass 칼럼에 대한 갯수 카운트가 저장된다.
print(결과값) #Pclass에는 1,2,3 변수(?)가 있고 각각 nnn개 있다.

3    491
1    216
2    184
Name: Pclass, dtype: int64

titanic_df['Pclass']로 어느 칼럼 값을 저장하면 이 값의 type은 Series로 지정된다. 
Series란 Index와 단 하나의 칼럼으로 구성된 데이터 세트이다. 
DataFrame > Series 인데, 각자의 Index를 갖는다.
Index는 고유성을 부여하는 값으로, 순차적이지 않을 수 있다. 가령 value_counts() 메소드는 Series 내장 함수인데, value_counts()메소드가 반환하는 Index는 Series의 데이터 값이다! 신기하다!

***************************** **************************

위에서는 csv파일을 read_csv()를 이용해 DataFrame으로 생성했습니다. 이 DataFrame을 list, ndarray 등으로 변환할 수 있다.

In [12]:
array3 = titanic_df.values
print('데이터 타입',type(array3), 'Shape', array3.shape)
print(array3)

데이터 타입 <class 'numpy.ndarray'> Shape (891, 12)
[[1 0 3 ... 7.25 nan 'S']
 [2 1 1 ... 71.2833 'C85' 'C']
 [3 1 3 ... 7.925 nan 'S']
 ...
 [889 0 3 ... 23.45 nan 'S']
 [890 1 1 ... 30.0 'C148' 'C']
 [891 0 3 ... 7.75 nan 'Q']]